
body {
    background-image: url("white-waves.png");
    
    }

header {
    position: relative;
    
    height: 80px;
    margin-top: -15px;
    margin-left: -10px;
    margin-right: -10px;
    

    background:  #ffffff;
    /*box-sizing: border-box;*/
    border-bottom: 1px solid #cccccc;
    
   
     
}

#name {
position: absolute;
bottom: 0px;
left: 480px;
height: 50px;
width: 10%;

background: #4aaaa5;

font-size: 30px;
color: white;
text-align: center;
padding-top: 20px;

}

#name11 {
    position: absolute;
    bottom: 0px;
    left: 360px;
    height: 50px;
    width: 10%;
    
    background: #4aaaa5;
    
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 20px;
    
    }

#info {

    position: absolute;
    left: 1240px;
    text-align: center;
    top: 30px;
    
}

#info11 {

    position: absolute;
    right: 360px;
    text-align: center;
    top: 30px;
    
}




a {
    color: #777777;
    font-style: normal;
    text-decoration: none;
}



#full{

    position: relative;
    height: 700px;
    clear: both;
    width: 100%

    
    }


 #full1{

position: relative;
height: 900px;
clear: both;
width: 100%;

}

#content{

width: 960px; 
position: relative;
margin: 40px auto 0px auto;



background:  #ffffff;
height: 450px;
border: 1px solid #dddddd;

}

#content1{

width: 960px; 
position: relative;

margin: 40px auto 0px auto;

background:  #ffffff;
height: 600px;
border: 1px solid #dddddd;



   /* top: 50px;
    bottom: 100px;
    left: 180px;
    right: 150px;
    background:  #ffffff;
    height: 600px;
    border: 1px solid #dddddd;*/
    
    }

#header2 {
position: absolute;
width: 920px;
top: 0px;
bottom: 100px;
left: 20px;
right: 200px;
border-bottom: 4px solid #dddddd;;
background:  #ffffff;

height: 80px;

}


#name1 {
position: absolute;
color: #777777;
top: 110px;
left: 20px;

}

#myname {
    position: absolute;
    color: #777777;
    top: 140px;
    left: 20px;
    border: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 910px;
    padding-left: 10px;
    }

    #email {
        position: absolute;
        color: #777777;
        top: 200px;
        left: 20px;
        
        }

    #myemail {
    position: absolute;
    color: #777777;
    top: 230px;
    left: 20px;
    border: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 910px;
    padding-left: 10px;
    }

    #message {
        position: absolute;
        color: #777777;
        top: 290px;
        left: 20px;
        
        }
    
    #box {
    position: absolute;
    color: #777777;
    top: 320px;
    left: 20px;
    border: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 160px;
    width: 910px;
    padding-left: 10px;
     }


     #submit {
    
    position: absolute;
    top: 520px;
    left: 20px;
    width: 80px;
    height: 30px;
    
    background:#4aaaa5;
    
     }
    
     #s{
    position: absolute;

    color: white;
    text-align: center;
    top: 5px;
    bottom: 5px;
    left: 4px;
    right: 5px;
     }
    
    
    
        



#text1 {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    color:  #4aaaa5;
    bottom: 20px;
    
}




#image {
position: absolute;
top: 100px;
left: 20px;

width: 20%;
box-sizing: border-box;

}

#para1 {
 
position: absolute;
top: 80px;
left: 220px;
background:  #ffffff;
width: 75%;
height: 170px;
line-height: 1.5;
color: #777777;


}

#para2 {
    
    position: absolute;
    top: 265px;
    left: 20px;
    background:  #ffffff;
    width: 95%;
    line-height: 1.5;
    color: #777777;
}

#para3 {
    position: absolute;
    top: 320px;
    left: 20px;
    background:  #ffffff;
    width: 95%;
    line-height: 1.5;
    color: #777777;
    
}

#band1 {
    background:  #4aaaa5;
    height: 7px;
    
}

#band2 {

    background: #666666;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color:  #ffffff ;
    
    
    
}


/*Styling for Portfolio*/

#header_portfolio {
position: relative;
height: 80px;
background: white;
border-bottom: 1px solid #dddddd;



}

#name_box {
position: absolute;
background: #4aaaa5;
font-size: 20px;
color: white;
font-weight: bold;
width: 40px;
height: 20px;
bottom: 0px;
left: 580px;
padding: 20px 40px 20px 30px;
    

}

#links{
position: absolute;
right: 580px;
bottom: 15px;


}

#content_p{

    position: relative;
    background: white;
    height: 550px;
    width: 550px;
    border: 1px solid #dddddd;
    margin: 20px auto 30px auto;


}

#portfolio {
position: absolute;

left: 20px;
width: 500px;
color: #4aaaa5;
font-size: 20px;
font-weight: bold;
border-bottom: 2px solid #dddddd;
padding: 15px 0px 15px 0px;


}

#image1 {
position: absolute;
margin-left: 20px;
top: 70px;
height: 125px;
width: 175px;

}

#label1 {
position: absolute;
color: white;
background: #4aaaa5;
bottom: 5px;
text-align: center;
width: 175px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
}

#image2 {
position: absolute;
left: 220px;
top: 70px;

height: 125px;
width: 175px;
    
    }

#label2 {
position: absolute;
color: white;
background: #4aaaa5;
bottom: 5px;
text-align: center;
width: 175px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
    }

#image3 {
position: absolute;
left: 20px;
top: 220px;
            
height: 125px;
width: 175px;
                
}
            
#label3 {
position: absolute;
color: white;
background: #4aaaa5;
bottom: 5px;
text-align: center;
width: 175px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
    }

#image4 {
position: absolute;
left: 220px;
top: 220px;
        
height: 125px;
width: 175px;
            
    }
        
#label4 {
position: absolute;
color: white;
background: #4aaaa5;
bottom: 5px;
text-align: center;
width: 175px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
    }

#image5 {
position: absolute;
left: 20px;
top: 370px;
                    
height: 145px;
width: 175px;
                        
}
                    
#label5 {
position: absolute;
color: white;
background: #4aaaa5;
bottom: 5px;
text-align: center;
width: 175px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 12px;
    }
       
    
footer {

position: relative;
bottom: 0px;
background: white;
height: 60px;
left: 0px;
right: 0px;



}

#band1_p{
position: absolute;
background: #4aaaa5;;
top: 0px;
height: 10px;
left: 0px;
right: 0px;
}

#band2_p {
position: absolute;
background: #666666;
bottom: 0px;
height: 20px;
left: 0px;
right: 0px;
color: white;
text-align: center;
padding-top: 30px;


    

}

a:hover {
    color: blue;
    font-weight: bold;
}

a:active {
    color: white;
}

a:focus {
color: purple;
}













